/* FONDO */
body{
    background: linear-gradient(160deg,#071a16,#0b2f29,#e06d1a,#c9570f);
    background-size: cover;
    font-family: "Georgia", serif;
    color: white;
}

.fondo-f1-blur{
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background-image:url("../img/f1.png");
    background-size:cover;
    filter: blur(8px) brightness(1.05);
    z-index:-1;
}

/* TÍTULOS */
.titulo{
    font-size:50px;
    font-weight:bold;
}
.titulo-sub{
    font-size:35px;
    margin-bottom:20px;
}
.subtitulo{
    opacity:0.9;
}

/* TARJETAS */
.tarjeta-seccion{
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(8px);
    border-radius:20px;
    padding:30px;
    margin-bottom:40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

/* LISTAS */
.horario-list .list-group-item{
    background: rgba(255,255,255,0.15);
    color:white;
    border:none;
    font-size:18px;
}

/* VILLANCICOS */
.villancico{
    margin-bottom:20px;
}
audio{
    width:100%;
    height:40px;
}

/* 3D */
.model-3d{
    width:100%;
    height:300px;
    border-radius:20px;
}

/* IMÁGENES */
.img-mundo, .img-vr, .calendario-img{
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
    margin-bottom:15px;
}
.calendario-navidad {
    margin: 40px auto;
    padding: 25px;
    width: 90%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 25px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.titulo-calendario {
    text-align: left;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day-name {
    text-align: center;
    font-weight: bold;
    color: #ffe4a8;
    font-size: 18px;
}

.day, .empty {
    height: 60px;
    background: rgba(255,255,255,0.20);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}

.day:hover {
    background: rgba(255,255,255,0.35);
    transform: scale(1.05);
}

.especial {
    background: #e6c233;
    color: #000;
    font-weight: bold;
    box-shadow: 0 0 15px gold;
    border-radius: 12px;
}


/* Tooltip */
#tooltip-calendario {
    position: absolute;
    background: white;
    color: black;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    z-index: 999;
}
