.footer-navidad {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    text-align: center;
    padding: 20px;
    color: #ffffff;
    margin-top: 60px;
    font-family: 'Georgia', serif;
    border-top: 1px solid rgba(255,255,255,0.3);
}
.footer-navidad small {
    font-size: 14px;
    color: #ffe9b3;
}
/* Modo alto contraste */
.contraste {
    filter: invert(1) hue-rotate(180deg);
}

.contraste img {
    filter: invert(1) hue-rotate(180deg) !important;
}
